:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
	min-height: 100vh;
}

.main {
	width: 80vw;
	margin: auto;
}

#grid {
	border: 1px solid grey;
  display: grid;
  margin: auto;
  width: 560px;
  height: 560px;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 0fr);
  grid-template-columns: repeat(var(--grid-cols), 0fr);
}

.grid-item {
  width: var(--cell-width);
  height: var(--cell-height);
  border: 1px solid #ddd;
  text-align: center;
}

.controls, h1 {
  margin: auto;
}

.row {
	display: flex;
	align-items: center;
}