:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#grid {
	border: 1px solid black;
  display: grid;
  width: 560px;
  height: 560px;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 0fr);
  grid-template-columns: repeat(var(--grid-cols), 0fr);
}

.grid-item {
  width: var(--cell-width);
  height: var(--cell-height);
  /*padding: 1em;*/
  border: 1px solid #ddd;
  text-align: center;
}